@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* Define color variables */
:root {
    --darkest-black: #333333;
    --light-gray: #bbbbbb;
    --light-green: #4bdf9a;
    --dark-green: #425f49;
    --white: #ffffff;
}
