@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* Define color variables */
:root {
    --darkest-black: #333333;
    --light-green: #4bdf9a;
    --dark-green: #425f49;
    --white: #ffffff;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--darkest-black);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container h2 {
    margin-right: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-form input {
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-green);
    color: var(--white);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .login-container {
        flex-direction: column;
        height: auto;
        width: 80%;
    }

    .login-container h2 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .login-form input {
        margin-bottom: 10px;
    }
}
